.title {
  text-align: center;
  font-size: 2rem;
  color: #ededed;
}

.information {
  background-color: white;
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.torrent-menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}