.title {
  text-align: center;
  font-size: 2rem;
  color: #ededed;
}

.information {
  background-color: rgba(255, 255, 255, .1);;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  color: #ededed;
}

.torrent-menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

img {
  max-width: 100%;
}